.layout-container{
    width: 370px;
    height: 712px;
    background-color: #ffffff;
    border-radius: 40px;
    border: 7px solid #111;
    position: fixed;
    overflow-y: scroll;
    /* padding: 20px; */
}


.icon-container{
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
    height: 70px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.icon-container img{
    cursor: pointer;
}

.layout-container::-webkit-scrollbar {
    display: none;
  }
  
.layout-container {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}